.expense-header {
    background-color: #fff;
    padding: 12px 24px;

    &__headline {
        padding-top: 4px !important;
        padding-left: 0px !important;
        padding-bottom: 12px !important;
    }
}
