.categories-title-wrap {
    background-color: #fff;
    padding: 12px 24px;
}

.catalog-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 8px !important;
}

// Modify default And Design Avatar component background.
.header-avatar {
    background-color: transparent !important;
    margin-right: 6px !important;
}

.category-title-icon {
    height: 100%;
    display: flex;
    justify-content: center;
}
